#gameboard {
    border:solid 1px black;
    height:auto;
    padding:0;
    position:relative;
}

.gamesquare {
    background-color:grey;
    border:solid 1px black;
    float:left;
}

.robot
{
    position:absolute;
}

.navbar
{
    margin-top:20px;
}

#commandarea 
{
    text-align:center;
}

#commandarea h2
{
    margin-top:0;
}

#commandarea textarea
{
    margin-bottom:10px;
}